#root {
  viewport-fill: black;
}

#background {
  fill: black;
  height: 100%;
  width: 100%;
  x: 0;
  y: 0;
}

.metric-container {
  fill: white;
  
  font-size: 50;
  font-family: Colfax-Light;
}

#metric0 {
  font-family: Colfax-Medium;
  font-size: 65;
  
  text-length: 32;
  text-anchor: end;
  x: 80%;
  y: 10%+30;
}

#metric1 {
  text-length: 32;
  text-anchor: end;
  x: 80%;
  y: 45%+2;
}

#metric2 {
  text-length: 32;
  text-anchor: end;
  x: 80%;
  y: 62%+5;
}

#metric3 {
  text-length: 32;
  text-anchor: end;
  x: 80%;
  y: 80%+5;
}

#metric4 {
  text-length: 32;
  text-anchor: end;
  x: 80%;
  y: 100%+0;
}
